ion-header,
ion-footer {
    --ion-background-color: var( --ion-color-step-900);
}

/* Ion Card */

ion-card {
    background-color: var(--ion-color-light);
}


ion-card-content p b{
    font-size: small;
}

ion-card-title{
    font-size: small;
}
.card-title-home {
    color: var(--ion-color-danger)
}

.card-content-home {
    color: black;
}

ion-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-light);
    font-size: medium;
}

/* Ion Buttons */

.button-delete,
.button-add,
.button-update {
    font-weight: bold;
    font-size:x-small;
}

.button-delete {
    color: var(--ion-color-danger);
}

.button-add {
    color: var(--ion-color-success);
}

.button-update {
    color: var(--ion-color-warning);
}

ion-menu-button{
    color:var(--ion-color-primay);
}
/* Ion Input */

ion-list ion-item {
    font-size: 0.8em;
    padding: 5px;
    color: black;
}

ion-title{
    font-size:small;
    font-weight: bold;
    color:black;
    
}