.footer-text {
    color: var(--ion-color-black);
    text-align: center;
    font-size: 12px;
}

.ion-footer {
    margin: 0;
    padding: 0;
    border: 0px;
    height: 40px;
    font-size: 14px;
    line-height: 1.2em
}

.link{
    color: var(--ion-color-black);
}